@import "vue-select/dist/vue-select.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

 @layer base {
  @font-face {
    font-family: 'SF Compact Text';
    src: url('./assets/fonts/fonnts.com-SF_Compact_Rounded_Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'SF Compact Text';
    src: url('./assets/fonts/fonnts.com-SF_Compact_Text_Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'SF Compact Text';
    src: url('./assets/fonts/fonnts.com-SF_Compact_Text_Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'SF Compact Text';
    /* src: url('./assets/fonts/SFCompactText-Bold.otf') format('opentype'); */
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "redwing";
    src: url('./assets/fonts/redwing/Redwing-Medium.otf') format("opentype");
  }
    @font-face {
    font-family: "inter";
    src: url('./assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format("opentype");
  }
}



  * {
    font-family: "SF Compact Text";
  }
  input,
  button,
  select {
    @apply outline-none;
  }

  #app {
    width: 100%;
    height: 100%;
  }

  ul {
    @apply list-none;
  }
  .data_card {
    @apply w-full min-h-[191px] h-full  py-4 rounded-[5px] bg-white;
  }
  .data_card .header {
    @apply flex  justify-between items-center;
  }
  .data_card a {
    @apply font-medium text-black text-xs  flex ;
  }
  .card_title {
    @apply text-[#252628] text-sm  font-sf 
  }
  .card_bottom {
    @apply  border-t border-t-br2 w-full;
  }
  .card_bottom p,
  .card_bottom li {
    @apply font-medium  text-light_dark ;
  }
  .card_bottom li {
    @apply text-xs ;
  }
  .card_bottom p span,
  .card_bottom li span {
    @apply text-black font-semibold;
  }
  .debit_txt,
  span.debit_txt {
    @apply bg-debit_light text-debit rounded-[15px] ;
  }
  .credit_txt,
  span.credit_txt {
    @apply bg-credit_light rounded-[15px] ;
  }
  .status {
    @apply px-2 py-0.5 rounded-[155px] w-[102px] font-medium text-center;
  }
  .status_mini {
    @apply px-1.5 py-0.5 rounded-[5px] w-[100px] font-normal text-sm text-center capitalize;
  }
  .status_pending {
    @apply bg-pending_light text-pending_strong;
  }
  .status_due {
    @apply bg-due_light;
  }
  .status_overdue {
    @apply bg-overdue_light text-overdue;
  }
  .auth_header_text {
    @apply mb-[4px] text-center text-txt_dark text-[24px] leading-[100%] mt-0;
  }
  .auth_subheader_text {
    @apply text-txt_dark text-2xl leading-7 text-center mb-16;
  }
  .auth_form {
    @apply  max-w-[450px]  rounded-[10px];
  }
  .btn {
    @apply outline-none rounded-[10px] text-center px-4 py-1.5 cursor-pointer hover:opacity-90 leading-7;
  }
  .btn_grow {
    @apply w-full;
  }

  .btn_primary {
    @apply bg-primary text-white;
  }

  .btn_danger {
    @apply bg-dng3 border border-dng2 text-dng2;
  }
  .btn_regular {
    @apply font-semibold text-sm leading-6 px-10 py-4;
  }
  .btn_alternate {
    @apply bg-white border-none text-txt_dark;
  }
  .input_label {
    @apply text-txt_dark2 text-2xl leading-7;
  }
  .input,
  .vs__dropdown-toggle {
    @apply py-[13px] px-[12px] w-full bg-white rounded-[10px] border border-br1 outline-none text-dark;
  }
  .tab {
    @apply w-full max-w-2xl mx-auto mt-10 flex justify-center;
  }
  .tab_item {
    @apply border-r border-t border-b w-1/3 border-secondary px-3 py-3 text-center font-medium text-sm leading-4 cursor-pointer text-secondary bg-white;
  }
  .tab_item:first-child {
    @apply border-l border-secondary;
  }
  .selected_tab {
    @apply text-white bg-primary border-0;
  }
  .list_container {
    @apply py-6 px-[26px] bg-white rounded-lg;
  }
  .nav li.bg-light_grey,
  .nav div.active_nav {
    @apply border-r-2 border-primary;
  }
  .status_select {
    @apply py-0.5 px-2 rounded-[20px] cursor-pointer flex gap-0.5;
  }
  .ss1 {
    @apply bg-pending text-pnd;
  }
  .ss2 {
    @apply bg-success text-scs;
  }
  .ss3 {
    @apply bg-danger text-dng;
  }
  .ss4 {
    @apply bg-[#E5E7EB] text-[#8E6306];
  }
  .ss5 {
    @apply text-[#F59E0B] bg-[#FFFBEB];
  }

  .modal-header {
    @apply relative text-center w-full py-4 border-b border-br1;
  }
  .modal-title {
    @apply text-txt_dark font-medium text-[32px] leading-7;
  }
  .modal-footer {
    @apply mx-auto w-56 mt-20;
  }
}

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.vs__dropdown-toggle {
  width: 100%;
  display: flex;
}

.vs__selected-options {
  width: 100%;
}

.vs__dropdown-menu {
  background: #ffffff;
  border: none;
  color: #404164;
  padding: 0px;
  font-weight: 500px;
  text-transform: capitalize;
  font-variant: small-caps;
  position: absolute;
}
.vs__dropdown-option--highlight {
  background: #000130;
}
.vs__dropdown-option {
  padding: 16px 8px;
  border-bottom: 1px solid #c7c7c7;
}

.btn.disabled,
.btn[disabled] {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-10-18 20:57:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}


.ant-modal-wrap {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


/* added by ademide */
/* start */
:disabled,::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
  .btn_secondary {
    @apply border-2 border-secondary text-primary;
  }
  .btn_dng {
    @apply bg-dng text-white;
  }

  .badge {
    @apply text-white rounded-lg px-2 py-1;
  }

  .badge-success {
    @apply bg-due;
  }

  .badge-pending {
    @apply bg-pending_strong;
  }

  .ant-table-thead th {
    font-weight: normal !important;
    color: #0000007F !important;
  }

  .ant-spin-nested-loading, .ant-spin-container {
    height: 100%;
  }

  .ant-spin-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .service-req-filter {
    outline: none;
  }
  .service-req-filter > .ant-select-selector {
    @apply px-3 h-[40px] flex items-center !important
  }

  .service-req-filter > .ant-select-selector:hover, .service-req-filter > .ant-select-selector:focus {
    border-color: rgba(54, 54, 54, 0.2) !important;
    background-color: #fafafa !important;
    outline: none !important;
  }

  .ant-select-dropdown {
   @apply w-fit left-[inherit] right-[2%] !important;
   /* left: inherit !important;
   right: 2% !important; */
  }
/* end */
